
@{
    ViewBag.Title = "AboutUs";
}
<nav>
    <ul>
        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
        <li>@Html.ActionLink("About Us", "AboutUs", "Home")</li>
        <li>@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>
    </ul>
</nav>
<h2>AboutUs</h2>
<h3>This is About us Page</h3>